body {
    line-height: 150%;
    color: #ddd;
    background-color: white;
}


/* content */

.navbar {
    border-bottom: none;
}

.margin-top-20 {
    margin-top: 20px;
}

#rules {
    text-align: center;
    margin-bottom: 25px;
}

#gameWord {
    margin-bottom: 6px;
}

#gameWord,
#word,
#rules {
    color: #ffa500;
}

#rules {
    padding-bottom: 20px;
    border-bottom: 1px solid #f79961;
}

#word {
    font-size: 20pt;
}

#gameWord, #word, #rules {
    color: #f79961;
}

.category {
    color: #c17249;
}

.load {
    color: #f8e21b;
}

.fa-spinner {
    font-size: 25px;
    margin-left: 20px;
    color: #f79961;
}

.message {
    font-size: 25px;
    color: #f79961;
    font-weight: bold;
}

#hangman-img-holder {
    width: 200px;
    height: 160px;
    margin-bottom: 15px;
}

#hangman-img {
    padding: 2px;
    margin-top: 3px;
    background-color: #000;
    border: 3px solid #222;
}


/* header */

.glyphicon {
    padding-top: 15px;
    padding-left: 5px;
    color: #f8e21b;
}


h1 {
    font-size: 70px;
    text-align: center;
    font-family: 'Allerta Stencil', sans-serif;
    color: #f8e21b;
}


/* letter buttons */


#letterBtn {
    margin-left: -34px;
}

.panel .panel-body {
    padding: 12px;
    background-color: white;
}

.panel {
    border: 1px solid #e7e7e7;
    margin-bottom: 80px;
}

.liActive,
.liDisabled {
    margin: 6px;
    width: 26px;
    height: 26px;
    line-height: 26px;
    cursor: pointer;
    text-align: center;
    font-weight: 200;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    display: inline-block;
}

.liActive li:hover {
    background-color: #888;
    cursor: pointer;
}

.liActive {
    background-color: #f8e21b;
    border: 1px solid #f8e21b;
    color: white;
}

.liDisabled {
    background-color: #f8f8f8;
    border: 1px solid #f8f8f8;
    color: #e7e7e7;
}


/* footer */

.navbar-custom .navbar-text {
    color: #f79961;
}

.navbar-custom {
    border-top: none;
    background-color: #c17249;
}

.btn-default {
    color: #ddd;
    border-color: white;
}

.btn-default:hover {
    color: white;
    background-color: #f8e21b;
    border-color: #f8e21b;
}
/* media query */

@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}

@media (max-width: 414px) {
    .liActive,
    .liDisabled {
        width: 22px;
        height: 22px;
        line-height: 20px;
        margin: 4px;
    }
    .panel {
        margin: 15px;
    }
    .panel .panel-body {
        padding: 12px 0px 0px 12px;
        background-color: white;
    }
    #rules {
        text-align: left;
        margin-left: 15px;
        margin-bottom: 10px;
    }
    .margin-top-20 {
        margin-top: 10px;
    }
}